<nav class="navbar bg-dark border-bottom border-body navbar sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand col-md-2 col-lg-2 me-0 px-3 fs-6">IMS</a>
    <form class="d-flex" role="search" method="POST" action="/search">
      <input class="form-control me-2" type="search" placeholder="Search" name="searchItem" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>