<div class="dflex justify-content-center flex-wrap flex-md-nowrap border-bottom pt-3 pb-2 mb-3">
<h2>ABOUT</h2>
<p>Created by Prince Rey Cabanducos</p>
<div class="pt-3">
    <p>This project is about to showcase the simple backend application with Node.js, Express,EJS and MongoDB.  </p>
</div>
</div>